<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Title of article{% endblock %}</title>

    {% block stylesheets %}
        {#<link href="{{ asset('bundles/acmedemo/css/bootstrap.min.css') }}" rel="stylesheet">#}
    {% endblock %}
</head>
<body class="container page">
<nav class="navbar navbar-inverse page__nav" role="navigation">
    <div class="container-fluid">
        {{ knp_menu_render('simple', {'template': 'LandregKnowmanBundle:Menu:bootstrap.html.twig', 'currentClass': 'active'}) }}

    </div>
</nav>

<div class="page__main">
    {% block main %}{% endblock %}

    {% block show %}
        <div class="sonata-ba-view">

            {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

            {% for name, view_group in admin.showgroups %}
                <table class="table table-bordered">
                    {% if name %}
                        <thead>
                        {% block show_title %}
                            <tr class="sonata-ba-view-title">
                                <th colspan="2">
                                    {{ admin.trans(name) }}
                                </th>
                            </tr>
                        {% endblock %}
                        </thead>
                    {% endif %}

                    <tbody>
                    {% for field_name in view_group.fields %}
                        {% block show_field %}
                            <tr class="sonata-ba-view-container">
                                {% if elements[field_name] is defined %}
                                    {{ elements[field_name]|render_view_element(object) }}
                                {% endif %}
                            </tr>
                        {% endblock %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

            {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

        </div>
    {% endblock %}
</div>
</body>
</html>
